@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

*{
    box-sizing: border-box;
}
a:hover{
    color:blue;
}
a{
    display:inline-block;
    padding:1em;
    font-family: 'Work Sans', sans-serif;
}
.logo{
    font-family: "Montserrat";
    font-size: 3em;
    padding: 0.2em 0;
    margin: auto;

}
ul{
    list-style: none;
}
nav{
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.left, .right{
    display: flex;
    flex-direction: row;
}
.right{
    justify-content: space-between;
    align-items: flex-start;
}
body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}